// Общие =======================================================================================
body {
  font-size: 20px;
  line-height: 150%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #333;
  color: #fff;
}
.page {
  padding: 30px;
}
// Gulp Настр. =======================================================================================
// откл. на время Gulp Инстр.
.gulp-sett {
  display: none;
  .qwe {
    background: url(../img/Family/1.jpg) 0 0 no-repeat;
    img {
      width: 50%;
      // height: 100vh;
      // height: 300px;
    }
  }
}
// Gulp Инстр. =======================================================================================
.gulp-instr {
  h3 {
    text-align: center;
    color: $col-T-warning;
  }
  .block-item {
    margin: 0px 0px 30px 0px;
  }
  // ТАБ
  .tabs-block {
    &__nav {
      display: flex;
      margin: 0px -2px;
    }
    &__item {
      display: flex;
      flex: 0 1 33.333%;
      justify-content: center;
      align-items: center;
      margin: 0px 2px;
      padding: 20px;
      background-color: #7a956b;
      background-color: $col-T-success;
      // добав так как навигация не ссылками
      cursor: pointer;
      &._active {
        background-color: #77608d;
        background-color: $col-T-primary;
      }
    }
    // &__body {
    // }
    // &__block {
    // }
  }

  // СПОЛЕР
  .spollers-block {
    &__item {
    }
    &__title {
      background-color: #794f45;
      background-color: $col-T-danger;
      cursor: pointer;
      padding: 20px;
      position: relative;
      // стрелочка
      &::before {
        content: "";
        width: 20px;
        background-color: #fff;
        height: 2px;
        transform: translate(0, -50%) rotate(-45deg);
        position: absolute;
        right: 15px;
        top: 50%;
      }
      &::after {
        content: "";
        width: 20px;
        background-color: #fff;
        height: 2px;
        transform: translate(0, -50%) rotate(45deg);
        position: absolute;
        right: 29px;
        top: 50%;
      }
    }
    &__body {
      // отступ делать только padding
      padding: 20px 0px 0px 0px;
    }
  }
}
