@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
// Вкл. Google Fonts > ctr+shift+p > googl f > набир нужный fonts > в конце появившегося шривты, в скобки, вставл строку для ускорения - &display=swap&subset=cyrillic-ext
// @import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap&subset=cyrillic-ext);
// в п. fonts/ добавл. шрифты ttf (можно и др c доп plg, fn) > Gulp автоматом шрифты конвертирует и добав запись в fonts.scss
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Akzidenz";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
// ??? не раб - в медиа не читает переменные с "+ px".
// $minWidth: 320;
// $md4: 479.98;
$minWidth: 320px; // мин размер
$maxWidth: 1920px; // полотно
$maxWidthContainer: 1170px; // огранич контейнер
$md1: $maxWidthContainer + 12px; // брейкпоинты для адаптива. сработает когда есть зазор
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$mainColor: #000;
@import "vars"; // переменнные (пока только цвета)
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================
@import "null";
body {
  color: $mainColor;
  font-size: $fontSize;
  // блокировка скрола
  &._lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  // избав от горизонт скрола
  overflow: hidden;
  // footer к низу (.wrapper=flex > .page=flex-1.1.a)
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
// технический класс (_нижнее _подчеркивание) - общ. доп. классы для опред. свойств.
// сетка брейкпоинтов для адаптива(от ширины экрана, _container будет сужатся)
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  // ??? не раб - в медиа не читает переменные с "+ px".
  // @media (max-width: $md1 + px) {
  @media (max-width: $md1) {
    max-width: 970px;
  }
  @media (max-width: $md2) {
    max-width: 750px;
  }
  @media (max-width: $md3) {
    max-width: none;
    padding: 0 10px;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui"; // готовые многоразовые блоки (ibg, btn, slider, )
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home"; // главная страница
@import "myStyleProd"; // стили только этого проекта
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
