/* Vars:
  ========================================================================== */

// Font
// $mainFont: "Montserrat", Helvetica, Arial, sans-serif;

// Size
// $mainFontColor: #101010;
// $mainFontSize: 18px;
// $mainFontWeight: 400;
// $mainLineHeight: 1.4;

// $desktopWidth: 1280px;
// $smDesktopWidth: 1024px;
// $tableWidth: 768px;
// $smTableWidth: 640px;
// $phoneWidth: 480px;
// $smPhoneWidth: 320px;

// Evgen Gal =======================================================================================
// переименовать
$DarkRed: #8b0000; // темно-красный
$CrimsonBrown: #4b0000; // коричнево-малиновый
$WhiteAlum: #a3a3a3; // бело-алюминиевый
$DullGray: #707070; // тусклый серый
$WetAsphalt: #555555; // мокрый асфальта
$SignalBlack: #333333; // cигнальный черный

// основные цвета (Main)
$col-m-default: #f5f5f5;
$col-m-primary: #1b1b7e;
// $col-m-success: #508050;
$col-m-danger: #8b0000;
$col-m-warning: #fad201;
// $col-m-light: #999999;
// $col-m-purple: #8854d0;

// Мутные (Turbid)
$col-T-default: #f5f5f5;
$col-T-primary: #404080;
$col-T-success: #508050;
$col-T-danger: #8b2525;;
$col-T-warning: #bead0f;
$col-T-light: #999999;
$col-T-purple: #8854d0;

// Тёмные (Dark)
// $col-D-default: #f5f5f5;
// $col-D-primary: #4f4f8f;
// $col-D-success: #508050;
$col-D-danger: #4b0000;
// $col-D-warning: #bead0f;
// $col-D-light: #999999;
// $col-D-purple: #8854d0;

// =======================================================================================

/*
  All colors taken from:
  https://github.com/vedees/uimini
*/

// Main color
$default-color: #ffffff;
$primary-color: #444ce0;
$success-color: #26de81;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999999;
$purple-color: #8854d0;

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;
